[*.cs]

# SA1314: Type parameter names should begin with T
dotnet_diagnostic.SA1314.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# RCS1001: Add braces (when expression spans over multiple lines)
dotnet_diagnostic.RCS1001.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA0001: XML comment analysis is disabled doue to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none

# SA1013: Closing braces should be spaced correctly
dotnet_diagnostic.SA1013.severity = none

# SA1500: Braces for multi-line statements should not share line
dotnet_diagnostic.SA1500.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1106: Code should not contain empty statements
dotnet_diagnostic.SA1106.severity = none

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none

# SA1519: Braces should not be omitted from multi-line child statement
dotnet_diagnostic.SA1519.severity = none

# SA1025: Code should not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = none

# SA1137: Elements should have the same indentation
dotnet_diagnostic.SA1137.severity = none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = none

# SA1132: Do not combine fields
dotnet_diagnostic.SA1132.severity = none

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# Duplication. It is already handled by 'IDE0060: Remove unused parameter'
# RCS1163: Unused parameter
dotnet_diagnostic.RCS1163.severity = none

# 'x == string.Empty' explains the essence of the condition better 
# RCS1156: Use string.Length instead of comparison with empty string
dotnet_diagnostic.RCS1156.severity = none

# RCS1194: Implement exception constructors
dotnet_diagnostic.RCS1194.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = none

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1820: Test for empty strings using string length
dotnet_diagnostic.CA1820.severity = none
