[Program.cs]
# False Positive with text 'Using directive should appear within a namespace declaration'
# Top level Program style doesn't need namespace
# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

[*.cs]
# It is overengineering for this project
# CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1307.severity = none
